@model WebTaxes.Models.TaxPaerWithTotal

@{
    ViewBag.Title = "My Taxes";
}

<h2>My Taxes</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaxPaer.Properties.FirstOrDefault().Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxPaer.Properties.FirstOrDefault().Municipality.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxPaer.Properties.FirstOrDefault().PropertyType.Description)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.TaxPaer.FirsName)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TaxPaer.Properties.FirstOrDefault().Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxPaer.Properties.FirstOrDefault().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxPaer.Properties.FirstOrDefault().Stratum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxPaer.Properties.FirstOrDefault().Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxPaer.Properties.FirstOrDefault().Value)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => Model.Total)
        </th>*@
      
       
    </tr>


    @foreach (var item in Model.TaxPaer.Properties.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipality.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType.Description)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.TaxPaer.FirsName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stratum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => Model.Total)
                </td>*@
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.PropertyId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.PropertyId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.PropertyId })
                </td>*@
          
           
        </tr>
    }
    <tr>
        <td colspan="7" style="color:red" align="right">
            <strong> @Html.DisplayNameFor(modelItem => Model.Total):</strong>
        </td>
        <td align="right" style="color:red">
            <strong> @Html.DisplayFor(modelItem => Model.Total)</strong>
        </td>
    </tr>
</table>

